certifi==2024.12.14
charset-normalizer==3.4.0
comtypes==1.4.8
idna==3.10
imageio==2.36.1
imageio-ffmpeg==0.5.1
mutagen==1.47.0
numpy==2.2.0
pillow==11.0.0
psutil==6.1.1
pygame==2.6.1
pypiwin32==223
pyserial==3.5
pyttsx3==2.98
pywin32==308
requests==2.32.3
setuptools==75.6.0
urllib3==2.2.3
yt-dlp==2024.12.13
